@import "tailwindcss";

:root {
  --color-primary: #2563EB;
  --color-primary-dull: #1F58D8;
  --color-light: #F1F5F9;
  --color-borderColor: #c4c7d2;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-light {
  background-color: #F1F5F9;
}

.border-borderColor {
  border-color: #c4c7d2;
}
